openapi: 3.0.0
info:
  title: Passion OS API
  description: Comprehensive habit-building platform with gamification
  version: 1.0.0
  contact:
    name: Passion OS Team
  license:
    name: MIT

servers:
  - url: https://api.ecent.online
    description: Production API
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Habits
    description: Habit CRUD operations and tracking
  - name: User
    description: User profile and gamification data
  - name: Gamification
    description: Coins, XP, achievements, and leaderboards
  - name: Health
    description: System health and status

paths:
  /health:
    get:
      tags:
        - Health
      summary: Check API health
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  uptime_seconds:
                    type: integer
                    example: 3600
                  version:
                    type: string
                    example: "1.0.0"
                  database:
                    type: string
                    example: "connected"

  /api/auth/signin/google:
    get:
      tags:
        - Authentication
      summary: Google OAuth login redirect
      operationId: googleSignin
      parameters:
        - name: redirect_uri
          in: query
          description: URL to redirect after login
          schema:
            type: string
            default: "/"
      responses:
        '302':
          description: Redirect to Google OAuth
        '400':
          description: Invalid parameters

  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: Login with email and password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials

  /api/auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout current user
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          description: Not authenticated

  /api/habits:
    get:
      tags:
        - Habits
      summary: List user's habits
      operationId: listHabits
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, archived]
      responses:
        '200':
          description: List of habits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Habit'
        '401':
          description: Not authenticated

    post:
      tags:
        - Habits
      summary: Create new habit
      operationId: createHabit
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - frequency
              properties:
                name:
                  type: string
                  maxLength: 255
                description:
                  type: string
                  maxLength: 1000
                frequency:
                  type: string
                  enum: [daily, weekly, monthly]
                icon:
                  type: string
                color:
                  type: string
      responses:
        '201':
          description: Habit created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Habit'
        '400':
          description: Invalid input
        '401':
          description: Not authenticated

  /api/habits/{habitId}:
    get:
      tags:
        - Habits
      summary: Get habit details
      operationId: getHabit
      security:
        - BearerAuth: []
      parameters:
        - name: habitId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Habit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Habit'
        '404':
          description: Habit not found

    patch:
      tags:
        - Habits
      summary: Update habit
      operationId: updateHabit
      security:
        - BearerAuth: []
      parameters:
        - name: habitId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                frequency:
                  type: string
      responses:
        '200':
          description: Habit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Habit'
        '404':
          description: Habit not found

    delete:
      tags:
        - Habits
      summary: Delete habit
      operationId: deleteHabit
      security:
        - BearerAuth: []
      parameters:
        - name: habitId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Habit deleted
        '404':
          description: Habit not found

  /api/habits/{habitId}/complete:
    post:
      tags:
        - Habits
      summary: Log habit completion
      operationId: completeHabit
      security:
        - BearerAuth: []
      parameters:
        - name: habitId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - date
              properties:
                date:
                  type: string
                  format: date
                notes:
                  type: string
      responses:
        '200':
          description: Completion logged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HabitCompletion'
        '404':
          description: Habit not found

  /api/habits/{habitId}/streak:
    get:
      tags:
        - Habits
      summary: Get habit streak
      operationId: getHabitStreak
      security:
        - BearerAuth: []
      parameters:
        - name: habitId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Habit streak data
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: integer
                  longest:
                    type: integer
                  total_completions:
                    type: integer

  /api/user/profile:
    get:
      tags:
        - User
      summary: Get user profile
      operationId: getUserProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Not authenticated

  /api/user/achievements:
    get:
      tags:
        - Gamification
      summary: Get user achievements
      operationId: getUserAchievements
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of achievements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'

  /api/user/wallet:
    get:
      tags:
        - Gamification
      summary: Get user wallet/coins
      operationId: getUserWallet
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallet information
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                  total_earned:
                    type: integer
                  total_spent:
                    type: integer

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        created_at:
          type: string
          format: date-time

    UserProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        coins:
          type: integer
        xp:
          type: integer
        level:
          type: integer
        habits_completed:
          type: integer
        total_streak:
          type: integer

    Habit:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        frequency:
          type: string
          enum: [daily, weekly, monthly]
        icon:
          type: string
        color:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    HabitCompletion:
      type: object
      properties:
        id:
          type: string
        habit_id:
          type: string
        date:
          type: string
          format: date
        notes:
          type: string
        created_at:
          type: string
          format: date-time

    Achievement:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        unlocked_at:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from login response
